.card-design{
    height: 600px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}
.card-design .image-size{
   width: 100%;
    height: 300px;
}
.card-design button{
      border-radius: 5px;
      padding: 3px 70px;
      position: absolute;
      left: 170px;
      bottom: 15px;
      border: transparent;
    background-color:#7FC45A ;

}



@media screen and (max-width: 600px) and (min-width: 360px) {


.card-design{
    height: 720px;
}
.card-design button{
   
      left: 45px;
      bottom: 10px;
 

}

}